

@media only screen and (max-width: 1200px) {
    .child_text_description{
        display: block;
        padding: 0 10px;
        width: 100%;

    }
    
    header{
        height: 65vh;
    }
     .row{
        margin: 0 25px;
    }
    .logo{
        margin-top: 20px
    }
}

@media only screen and (max-width: 1024px) {
    .mobile_menu span{
        display: block;
    }
    html{
        font-size: 59.5%;
    }
        .hero-text-box{
       
    }
    .main_nav{
        display: none;
    }
    .clint_photo{
        width: 100%;
        float: none;
        text-align: center;
    }
 
    
 .clint_review{
    width: 100%;
    float: none;
     text-align: center
    }
    
    .about_area .box {
    padding-left: 0;
    }
    
}

@media only screen and (max-width: 980px){
    
    .span_1_of_4{
     width: 47%;
    }
}


@media only screen and (max-width: 768px){
    .little_descripction{
        width: 100%;
    }
    h1{
        font-size: 3.2rem;
    }
   
}

@media only screen and (max-width: 480px){
     .span_1_of_4{
     width: 100%;
    }
    .contact_section input:first-child{
        margin-bottom: 5px;
    }
    .contact_section textarea{
        margin-top: 15px;
    }
    
.about_area .col:nth-child(3),
.about_area .col:nth-child(4){
    margin-top: 4rem;
    }
}














